.datepicker-container[_ngcontent-eit-1] {
  display: inline-block;
  position: relative;
}

.datepicker-container[_ngcontent-eit-1]   .datepicker-input-container[_ngcontent-eit-1] {
  display: inline-block;
  background: transparent;
}

.datepicker-container[_ngcontent-eit-1]   .datepicker-input-container[_ngcontent-eit-1]   .datepicker-input[_ngcontent-eit-1] {
  display: inline-block;
  width: 160px;
  margin-right: 15px;
  border: none;
  outline: none;
  border-bottom: 1px solid #ced4da;
  font-size: 14px;
  color: #000000;
  text-align: center;
}

.datepicker-container[_ngcontent-eit-1]   .datepicker-input-container[_ngcontent-eit-1]   .datepicker-input[_ngcontent-eit-1]::-webkit-input-placeholder {
  color: #343a40;
}

.datepicker-container[_ngcontent-eit-1]   .datepicker-input-container[_ngcontent-eit-1]   .datepicker-input[_ngcontent-eit-1]::-moz-placeholder {
  color: #343a40;
}

.datepicker-container[_ngcontent-eit-1]   .datepicker-input-container[_ngcontent-eit-1]   .datepicker-input[_ngcontent-eit-1]:-ms-input-placeholder {
  color: #343a40;
}

.datepicker-container[_ngcontent-eit-1]   .datepicker-input-container[_ngcontent-eit-1]   .datepicker-input[_ngcontent-eit-1]:-moz-placeholder {
  color: #343a40;
}

.datepicker-container[_ngcontent-eit-1]   .datepicker-input-container[_ngcontent-eit-1]   .datepicker-input-icon[_ngcontent-eit-1] {
  display: inline-block;
}

.datepicker-container[_ngcontent-eit-1]   .datepicker-input-container[_ngcontent-eit-1]   .datepicker-input-icon[_ngcontent-eit-1]   i[_ngcontent-eit-1] {
  font-size: 20px;
  cursor: pointer;
  color: #000000;
}

.datepicker-container[_ngcontent-eit-1]   .datepicker-calendar[_ngcontent-eit-1] {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 250px;
  top: 40px;
  position: absolute;
  z-index: 99;
  background: #FFFFFF;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.datepicker-container[_ngcontent-eit-1]   .datepicker-calendar[_ngcontent-eit-1]   .datepicker-calendar-top[_ngcontent-eit-1] {
  width: 100%;
  height: 80px;
  background: #000000;
  display: inline-block;
  position: relative;
}

.datepicker-container[_ngcontent-eit-1]   .datepicker-calendar[_ngcontent-eit-1]   .datepicker-calendar-top[_ngcontent-eit-1]   .year-title[_ngcontent-eit-1] {
  display: block;
  margin-top: 12px;
  color: #FFFFFF;
  font-size: 28px;
  text-align: center;
}

.datepicker-container[_ngcontent-eit-1]   .datepicker-calendar[_ngcontent-eit-1]   .datepicker-calendar-top[_ngcontent-eit-1]   button[_ngcontent-eit-1] {
  width: 150px;
  display: block;
  margin: 0 auto;
  color: #FFFFFF;
  text-transform: uppercase;
  background: transparent;
  border: none;
  outline: none;
  font-size: 12px;
  cursor: pointer;
}

.datepicker-container[_ngcontent-eit-1]   .datepicker-calendar[_ngcontent-eit-1]   .datepicker-calendar-top[_ngcontent-eit-1]   .close[_ngcontent-eit-1] {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 20px;
  color: #FFFFFF;
  cursor: pointer;
}

.datepicker-container[_ngcontent-eit-1]   .datepicker-calendar[_ngcontent-eit-1]   .datepicker-calendar-container[_ngcontent-eit-1] {
  display: inline-block;
  width: 100%;
  padding: 10px;
  background: #222628;
}

.datepicker-container[_ngcontent-eit-1]   .datepicker-calendar[_ngcontent-eit-1]   .datepicker-calendar-container[_ngcontent-eit-1]   .datepicker-calendar-month-section[_ngcontent-eit-1] {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #DDDDDD;
  text-transform: uppercase;
}

.datepicker-container[_ngcontent-eit-1]   .datepicker-calendar[_ngcontent-eit-1]   .datepicker-calendar-container[_ngcontent-eit-1]   .datepicker-calendar-month-section[_ngcontent-eit-1]   i[_ngcontent-eit-1] {
  cursor: pointer;
}

.datepicker-container[_ngcontent-eit-1]   .datepicker-calendar[_ngcontent-eit-1]   .datepicker-calendar-container[_ngcontent-eit-1]   .datepicker-calendar-month-section[_ngcontent-eit-1]   i[_ngcontent-eit-1]:first-child {
  margin-left: 12px;
}

.datepicker-container[_ngcontent-eit-1]   .datepicker-calendar[_ngcontent-eit-1]   .datepicker-calendar-container[_ngcontent-eit-1]   .datepicker-calendar-month-section[_ngcontent-eit-1]   i[_ngcontent-eit-1]:last-child {
  margin-right: 12px;
}

.datepicker-container[_ngcontent-eit-1]   .datepicker-calendar[_ngcontent-eit-1]   .datepicker-calendar-container[_ngcontent-eit-1]   .datepicker-calendar-day-names[_ngcontent-eit-1] {
  width: 230px;
  margin-top: 10px;
  display: inline-block;
  border: 1px solid transparent;
}

.datepicker-container[_ngcontent-eit-1]   .datepicker-calendar[_ngcontent-eit-1]   .datepicker-calendar-container[_ngcontent-eit-1]   .datepicker-calendar-day-names[_ngcontent-eit-1]   span[_ngcontent-eit-1] {
  font-size: 12px;
  display: block;
  float: left;
  width: calc(100% / 7);
  text-align: center;
}

.datepicker-container[_ngcontent-eit-1]   .datepicker-calendar[_ngcontent-eit-1]   .datepicker-calendar-container[_ngcontent-eit-1]   .datepicker-calendar-days-container[_ngcontent-eit-1] {
  width: 230px;
  margin-top: 5px;
  display: inline-block;
  border: 1px solid transparent;
}

.datepicker-container[_ngcontent-eit-1]   .datepicker-calendar[_ngcontent-eit-1]   .datepicker-calendar-container[_ngcontent-eit-1]   .datepicker-calendar-days-container[_ngcontent-eit-1]   .day[_ngcontent-eit-1] {
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  font-size: 14px;
  color: #8E8E8E;
  width: calc(100% / 7);
  height: 33px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}

.datepicker-container[_ngcontent-eit-1]   .datepicker-calendar[_ngcontent-eit-1]   .datepicker-calendar-container[_ngcontent-eit-1]   .datepicker-calendar-days-container[_ngcontent-eit-1]   .day[_ngcontent-eit-1]:hover:not(.disabled), .datepicker-container[_ngcontent-eit-1]   .datepicker-calendar[_ngcontent-eit-1]   .datepicker-calendar-container[_ngcontent-eit-1]   .datepicker-calendar-days-container[_ngcontent-eit-1]   .day.selected[_ngcontent-eit-1] {
  background: #222628;
  border: 1px solid #366AAB;
  border-radius: 4px;
}

.datepicker-container[_ngcontent-eit-1]   .datepicker-calendar[_ngcontent-eit-1]   .datepicker-calendar-container[_ngcontent-eit-1]   .datepicker-calendar-days-container[_ngcontent-eit-1]   .day.disabled[_ngcontent-eit-1] {
  pointer-events: none;
}

.datepicker-container[_ngcontent-eit-1]   .datepicker-calendar[_ngcontent-eit-1]   .datepicker-calendar-container[_ngcontent-eit-1]   .datepicker-calendar-days-container[_ngcontent-eit-1]   .day.today[_ngcontent-eit-1] {
  color: #366AAB;
}

.datepicker-container[_ngcontent-eit-1]   .datepicker-calendar[_ngcontent-eit-1]   .datepicker-calendar-container[_ngcontent-eit-1]   .datepicker-calendar-years-container[_ngcontent-eit-1] {
  width: 100%;
  height: 240px;
}

.datepicker-container[_ngcontent-eit-1]   .datepicker-calendar[_ngcontent-eit-1]   .datepicker-calendar-container[_ngcontent-eit-1]   .datepicker-calendar-years-container[_ngcontent-eit-1]   .year[_ngcontent-eit-1] {
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  font-size: 14px;
  color: #8E8E8E;
  width: calc(100% / 4);
  height: 50px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}

.datepicker-container[_ngcontent-eit-1]   .datepicker-calendar[_ngcontent-eit-1]   .datepicker-calendar-container[_ngcontent-eit-1]   .datepicker-calendar-years-container[_ngcontent-eit-1]   .year[_ngcontent-eit-1]:hover, .datepicker-container[_ngcontent-eit-1]   .datepicker-calendar[_ngcontent-eit-1]   .datepicker-calendar-container[_ngcontent-eit-1]   .datepicker-calendar-years-container[_ngcontent-eit-1]   .year.selected[_ngcontent-eit-1] {
  background: #222628;
  border: 1px solid #366AAB;
  border-radius: 4px;
}

.datepicker-container[_ngcontent-eit-1]   .datepicker-calendar[_ngcontent-eit-1]   .datepicker-calendar-container[_ngcontent-eit-1]   .datepicker-buttons[_ngcontent-eit-1] {
  width: 235px;
  display: flex;
  justify-content: center;
}

.datepicker-container[_ngcontent-eit-1]   .datepicker-calendar[_ngcontent-eit-1]   .datepicker-calendar-container[_ngcontent-eit-1]   .datepicker-buttons[_ngcontent-eit-1]   button[_ngcontent-eit-1] {
  width: 100%;
  outline: none;
  display: inline-block;
  border: 1px solid #366AAB;
  background: #099268;
  color: #FFFFFF;
  margin-right: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  padding: 5px 10px;
  border: 1px solid #366AAB;
  border-radius: 4px;
}

.datepicker-container[_ngcontent-eit-1]   .datepicker-calendar[_ngcontent-eit-1]   .datepicker-calendar-container[_ngcontent-eit-1]   .datepicker-buttons[_ngcontent-eit-1]   button.u-is-primary[_ngcontent-eit-1] {
  background: #366AAB;
}

.datepicker-container[_ngcontent-eit-1]   .datepicker-calendar[_ngcontent-eit-1]   .datepicker-calendar-container[_ngcontent-eit-1]   .datepicker-buttons[_ngcontent-eit-1]   button.u-is-primary[_ngcontent-eit-1]:active {
  background: #222628;
}

.datepicker-container[_ngcontent-eit-1]   .datepicker-calendar[_ngcontent-eit-1]   .datepicker-calendar-container[_ngcontent-eit-1]   .datepicker-buttons[_ngcontent-eit-1]   button.u-is-secondary[_ngcontent-eit-1] {
  background: #222628;
  color: #099268;
}

.datepicker-container[_ngcontent-eit-1]   .datepicker-calendar[_ngcontent-eit-1]   .datepicker-calendar-container[_ngcontent-eit-1]   .datepicker-buttons[_ngcontent-eit-1]   button.u-is-secondary[_ngcontent-eit-1]:active {
  background: #366AAB;
  color: #DDDDDD;
}

.datepicker-container[_ngcontent-eit-1]   .datepicker-calendar[_ngcontent-eit-1]   .datepicker-calendar-container[_ngcontent-eit-1]   .datepicker-buttons[_ngcontent-eit-1]   button.u-is-secondary[_ngcontent-eit-1]:hover {
  color: #FFFFFF;
}