<h1>Login</h1>
<!--<div class="col-xs-3">
    <input type="text" [(ngModel)]="user.username" class="form-control">
</div>
<div class="col-xs-3">
    <input type="text" [(ngModel)]="user.password" class="form-control">
</div>
<div class="col-xs-3">
    <button class="btn btn-primary" (click)="login()">Login</button>
</div>-->
<!--<form #form="ngForm" (ngSubmit)="loginUser(form.value)">
    <div class="col-xs-3">
        <input type="text" name="username" class="form-control" ngModel required>
    </div>
    <button type="submit">Login</button>
</form>-->
<form [formGroup]="loginForm" (ngSubmit)="loginUser(loginForm.value)">
    <div class="col-xs-3">
        <input type="text" class="form-control" [formControl]="loginForm.controls['username']">
        <!--<div class="alert alert-danger" *ngIf="!loginForm.controls['username'].valid">You must enter a valid data.</div>-->
        <div *ngIf="loginForm.controls['username'].hasError('required')
      && loginForm.controls['username'].dirty" class="alert alert-danger">You must include a usern name.</div>
        <div *ngIf="loginForm.controls['username'].hasError('pattern')
      && loginForm.controls['username'].dirty" class="alert alert-danger">You are entering invalid pattern of username</div>
    </div>
    <div class="col-xs-3">
        <input type="text" class="form-control" [formControl]="loginForm.controls['password']">
        <div *ngIf="loginForm.controls['password'].hasError('required')
      && loginForm.controls['password'].dirty" class="alert alert-danger">
            Password is mandatory</div>
        <div *ngIf="loginForm.controls['password'].hasError('minlength')
      && loginForm.controls['password'].dirty" class="alert alert-danger">
            Minimum length of password is 5</div>
        <div *ngIf="loginForm.controls['password'].hasError('maxlength')
      && loginForm.controls['password'].dirty" class="alert alert-danger">
            Minimum length of password is 10</div>
    </div>
    <button [disabled]="!loginForm.valid" type="submit">Login</button>
</form>